body {
    font-family: Arial, sans-serif;
	font-size: 0.85vw; /* Размер шрифта будет составлять 1.5% от ширины видимой области */
    text-align: center;
    margin: auto;
    padding: 2%;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-top: 2%;
	max-width: 40%; /* Устанавливаем максимальную ширину 50% */
}

#turn-counter {
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

#event-field-container {
    margin-bottom: 2%;
    min-height: 10vh;
}

#event-field {
    padding: 2%;
    border: 2px solid #ccc;
    border-radius: 1em;
}

#trade-field-container {
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

#trade-info {
    margin-bottom: 1%;
}

#money-slider {
    width: 80%;
    margin-bottom: 1%;
}

#selected-money {
    margin-bottom: 2%;
}

#resource-container {
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

/* Стили для таблицы активов */
#asset-table {
    width: 100%;
    border-collapse: collapse; 
}

.asset-item {
    border-bottom: 1px solid #ccc;
}

.asset-info {
    padding: 1%;
    text-align: left;
}

.asset-buttons {
    padding: 1%;
}

.asset-buttons button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    width: auto; /* Ширина кнопок будет автоматически адаптироваться к содержимому */
    max-width: 80%; /* Максимальная ширина кнопок для предотвращения переполнения контейнера */
}


.asset-buttons button:hover {
    background-color: #45a049;
}

/* Стили для span счастья */
.happiness-span {
    margin-left: 1em;
    color: blue;
	text-align: right;
	
}

#total-maintenance-cost-container {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto; /* Устанавливаем ширину автоматически */
    max-width: 50%; /* Максимальная ширина модального окна */
    max-height: 50%; /* Максимальная высота модального окна */
    overflow: auto; /* Добавляем скролл, если содержимое не помещается */
}

.modal-content img {
    max-width: 100%; /* Устанавливаем максимальную ширину изображения на 100% от родительского элемента */
    height: auto; /* Для сохранения пропорций масштабирования */
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

#play-again-button-container {
    margin-top: 2%;
    text-align: center; 
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 1%;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
}

button:disabled {
    background-color: #cccccc; /* серый цвет фона */
    color: #666666; /* серый цвет текста */
    cursor: not-allowed; /* курсор "запрещено" */
}

button:hover {
    background-color: #45a049;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
